:root{
  --primary-color: #5BB5A2;
  --light-blue1:#DFEAF1;
  --light-blue2:#E8F2EE;
  --light-violet:#F1DFDF;
  --text-black: #1A191E;
  --text-gray:#DFE1F1;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.header-container{
  max-width: 1200px;
  padding: 29.5px 5px;
  margin: 0 auto;
  background-color: var(--light-blue1);
}
.text-b{
color: var(--text-black);
}
.text-g{
  color: var(--text-gray);
}
.btn{
  padding: 12px 16px;
  outline: none;
  border: 0;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}